<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="./system-element.html">
<dom-module id="system-caption">
  <template>
    <style include="shared-styles">
      :host {
        display: list-item;
        list-style: disc inside;
      }
    </style>
    <div class="list-item">
      <div class="item-content">
        [[captionLine(system.*)]]
        <slot name="actions"></slot>
      </div>
    </div>
  </template>
  <script>
    class SystemCaption extends SystemMixin(Polymer.Element) {
      static get is(){return "system-caption"}
      constructor(){
        super()
      }
    }
    customElements.define(SystemCaption.is,SystemCaption);
  </script>
</dom-module>
