<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../line-run/line-run-description.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="./system-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">

<dom-module id="system-form">
  <template>
    <style media="screen" include="shared-styles">
      :host {
        display: block;
        position: relative;
      }
    </style>
    <app-route id="router"
      route="{{route}}"
      pattern="/:page"
      active="{{active}}"
      data="{{routeData}}"
      tail="{{subroute}}">
    </app-route>
    <span class="breadcrumb" on-click="historyBack">[[captionLine(system.*)]]</span>
    <template is="dom-if" if="[[!active]]" restamp="true">
      <h4>[[brief(system.*)]]</h4>
      <paper-input label="Тип сиситеми" value={{system.facility}}></paper-input>
      <paper-input label="Особливості (якщо є)" value={{system.description}}></paper-input>
      <ul class="boxed">Лінії сиситеми [[system.facility]]:
        <template is="dom-repeat" items=[[system.localLines]] index-as="index">
          <line-run-description
            line-run=[[item]]
            class="editable"
            on-click="__editLine"
            data-path="system.localLines"
            data-index$=[[itemsIndex]]>
            <paper-icon-button
              icon="my-icons:close" class="delete" slot="actions"
              data-path="system.localLines"
              data-index$=[[itemsIndex]]
              on-click="__removeLine">
            </paper-icon-button>
          </line-run-description>
        </template>
        <li>
          <paper-icon-button
            icon="my-icons:add" class="add"
            data-path="system.localLines"
            on-click="__addLine">
          </paper-icon-button>
        </li>
      </ul>
      <ul>Систему обслуговують:
        <template is="dom-repeat" items={{system.responsibilityOf}}>
          <li>
            <paper-input label="Систему обслуговує"
              data-index$=[[index]]
              data-path="system.responsibilityOf"
              on-blur="__removeIfBlank"
              value={{item}}>
              <paper-icon-button
                slot="suffix"
                icon="my-icons:close" class="delete" slot="actions"
                data-path="system.responsibilityOf"
                data-index$=[[index]]
                on-click="__removeBody">
              </paper-icon-button>
            </paper-input>
          </li>
        </template>
        <li>
          <paper-icon-button
            icon="my-icons:add" class="add"
            data-path="system.responsibilityOf"
            on-click="__addBody">
          </paper-icon-button>
        </li>
      </ul>
    </template>
    <template is="dom-if" if="[[active]]" restamp="true">
      <iron-lazy-pages selected={{page}} attr-for-selected="id"
      fallback-selection="fallback">
        <line-run-form id="line-run"
          line-run={{selectedLine}}
          route={{subroute}}
          data-path="../line-run/line-run-form.html"
          on-line-run-changed="__lineChanged">
        </line-run-form>
        <div id="fallback" class="empty">
          
        </div>
      </iron-lazy-pages>
    </template>

  </template>
  <script>
    class SystemForm extends SystemMixin(Polymer.Element) {
      static get is(){return "system-form"}

      static get properties(){
        return Object.assign(
          {
            route: Object,
            routeData: Object,
            subroute: Object,
            page: {
              type:String
            },
            selectedLine: Object
          },
          super.properties
        )
      }

      static get observers(){
        return [
          '__pageChanged(routeData.page)'
        ]
      }

      constructor(){
        super()
      }

      __addLine(evt){
        var id = this.__add("system.localLines",{})-1;
        return this.__edit("local-lines_"+id);
      }

      __removeLine(env){
        this.__remove("system.localLines",env.target.dataset.index);
      }

      __editLine(evt){
        if (evt.target.classList.contains("editable")){
          this.__edit("local-lines_"+evt.target.dataset.index);
        }
      }

      __addBody(evt){
        this.__add("system.responsibilityOf","");
      }

      __removeBody(evt){
        this.__remove("system.responsibilityOf",evt.target.dataset.index);
      }

      __removeIfBlank(evt){
        if (!evt.target.value || (evt.target.value == ""))
        this.__removeBody(evt);
      }

      __pageChanged(routepage){
        if (routepage && (typeof routepage === "string")) {
          var t = routepage.match(/([a-z-]+)[0-9_]*/i)[1];
          var o = this.get("system."+routepage.replace("local-lines_","localLines."));
          if (o) {
            switch(t){
              case "local-lines":
                this.set("page", "line-run");
                this.set("selectedLine",o);
                break;
              default:
            }
          }
        }
      }

      __lineChanged(evt){
        var path = evt.detail.path.replace("lineRun",this.routeData.page.replace("local-lines_","localLines."));
        this.notifyPath("system."+path,evt.detail.value);
      }

    }
    customElements.define(SystemForm.is,SystemForm);
  </script>
</dom-module>
