<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../line-run/line-run-description.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="./system-element.html">

<dom-module id="system-description">
  <template>
    <style include="shared-styles">
      :host {
        display: list-item;
        list-style: disc inside;
      }
    </style>
    [[brief(system.*)]]
    <ul>
      <template is="dom-if" if=[[system.localLines.length]] restamp="true">
        Лінії сиситеми [[system.facility]] прокладені:
      </template>
      <template is="dom-repeat" items=[[system.localLines]] index-as="index">
        <line-run-description
          line-run=[[item]]>
        </line-run-description>
      </template>
    </ul>
  </template>
  <script>
    class SystemDescription extends SystemMixin(Polymer.Element) {
      static get is(){return "system-description"}
      constructor(){
        super()
      }
    }
    customElements.define(SystemDescription.is,SystemDescription);
  </script>
</dom-module>
