<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="access-point-element.html">

<dom-module id="access-point-form">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        position: relative;
      }
      h2 {
        text-align: center;
        width: 100%
      }
    </style>
    <span class="breadcrumb" on-click="historyBack">Місце доступу</span>
    <h4>[[description(accessPoint.*)]]</h4>
    <paper-input label="Приміщення або місце" value={{accessPoint.through}}></paper-input>
    <paper-input label="Опис, розташування" value={{accessPoint.description}}></paper-input>
    <paper-input label="Режим доступу" value={{accessPoint.accessType}}>
    <span slot="prefix">Забезпечує&nbsp;</span></paper-input>
    <paper-radio-group allow-empty-selection="true">
      <paper-radio-button name="source" checked={{accessPoint.source}}>Початок лінії</paper-radio-button>
      <paper-radio-button name="sink" checked={{accessPoint.sink}}>Кінець лінії</paper-radio-button>
    </paper-radio-group>
    <paper-checkbox checked={{accessPoint.secure}}>В межах КЗ</paper-checkbox>
  </template>
  <script>
    class AccessPointForm extends AccessPointMixin(Polymer.Element) {
      static get is() {return "access-point-form"}

      constructor(){
        super()
      }
    }
    customElements.define(AccessPointForm.is,AccessPointForm);
  </script>
</dom-module>
