<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="access-point-element.html">

<dom-module id="access-point-caption">
  <template>
    <style include="shared-styles">
      :host {
        display: list-item;
        list-style: disc inside;
      }
      :host(::first-letter) {
        text-transform: uppercase;
      }
    </style>
    <div class="list-item">
      <div class="item-content">
        [[captionLine(accessPoint.*)]]
        <slot name="actions"></slot>
      </div>
    </div>
  </template>
  <script>
    class AccessPointCaption extends AccessPointMixin(Polymer.Element) {
      static get is() {return "access-point-caption"}

      constructor(){
        super()
      }
    }
    customElements.define(AccessPointCaption.is,AccessPointCaption);
  </script>
</dom-module>
