<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="access-point-element.html">

<dom-module id="access-point-caption">
  <template>
    <style>
      :host {
        display: list-item;
        list-style: disc inside;
      }
      :host(::first-letter) {
        text-transform: uppercase;
      }
    </style>
    [[description(accessPoint.*)]]
  </template>
  <script>
    class AccessPointCaption extends AccessPointMixin(Polymer.Element) {
      static get is() {return "access-point-caption"}

      constructor(){
        super()
      }
    }
    customElements.define(AccessPointCaption.is,AccessPointCaption);
  </script>
</dom-module>
