<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="./partition-description.html">
<link rel="import" href="partition-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="partition-description">
  <template>
    <style include="shared-styles">
      :host {
        display: list-item;
        list-style: disc inside;
      }
      :host(::first-letter) {
        text-transform: uppercase;
      }
    </style>
    [[fullDesc(partition.*)]]
    <ul>
      <template is="dom-if" if=[[partition.parts.length]] restamp="true">
        Складається з:
      </template>
      <template is="dom-repeat" items=[[partition.parts]] index-as="index">
        <partition-description partition=[[item]]></partition-description>
      </template>
    </ul>
  </template>
  <script>
  class PartitionDescription extends PartitionMixin(Polymer.Element) {
    static get is(){return 'partition-description'}

    constructor(){
      super();
    }
  }

  customElements.define(PartitionDescription.is,PartitionDescription);
  </script>
</dom-module>
