<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">

<link rel="import" href="partition-element.html">

<dom-module id="partition-caption">
  <template>
    <style media="screen" include="shared-styles">
      :host {
        display: list-item;
        list-style: disc inside;
      }
      :host(::first-letter) {
        text-transform: uppercase;
      }
    </style>
    <div class="list-item">
      <div class="item-content">
        [[captionLine(partition.*)]]
        <slot name="actions"></slot>
      </div>
    </div>
  </template>
  <script>
  class PartitionCaption extends PartitionMixin(Polymer.Element) {
    static get is(){return 'partition-caption'}

    constructor(){
      super();
    }
  }

  customElements.define(PartitionCaption.is,PartitionCaption);
  </script>
</dom-module>
