<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="partition-description.html">
<link rel="import" href="partition-element.html">

<dom-module id="partition-form">
  <template>
    <style media="screen" include="shared-styles">
      :host {
        display: block;
      }
    </style>
    <app-route id="router"
      route="{{route}}"
      pattern="/:page"
      active="{{active}}"
      data="{{routeData}}"
      tail="{{subroute}}">
    </app-route>
    <span class="breadcrumb" on-click="historyBack">[[captionLine(partition.*)]]</span>
    <template is="dom-if" if="[[!active]]" restamp="true">
      <h4>[[fullDesc(partition.*)]]</h4>
      <paper-input label="Тип" value={{partition.delimiterType}}></paper-input>
      <paper-input label="Особливості розміщення, орієнтації" value={{partition.orientation}}></paper-input>
      <paper-input label="Матеріал(и)" value={{partition.description}}></paper-input>
      <paper-input label="Товщина" value={{partition.thickness}}></paper-input>
      <paper-input label="Ширина" value={{partition.width}}></paper-input>
      <paper-input label="Висота" value={{partition.height}}></paper-input>
      <ul class="boxed">Складається:
        <template is="dom-repeat" items={{partition.parts}} index-as="index">
          <partition-caption
            class="editable"
            partition={{item}}
            on-click="__editPartition"
            data-index$=[[itemsIndex]]>
            <paper-icon-button
              icon="my-icons:close" class="delete" slot="actions"
              class="remove"
              data-index$=[[itemsIndex]]
              on-click="__removePartition">
            </paper-icon-button>
          </partition-caption>
        </template>
        <li>
          <paper-icon-button
            icon="my-icons:add" class="add"
            on-click="__addPartition">
          </paper-icon-button>
        </li>
      </ul>
    </template>
    <template is="dom-if" if="[[active]]" restamp="true">
      <iron-lazy-pages selected={{page}} attr-for-selected="id"
      fallback-selection="fallback">
        <partition-form id="partition"
          partition={{selectedPart}}
          route={{subroute}}
          data-path="../partition/partition-form.html"
          on-partition-changed="__partChanged">
        </partition-form>
        <div class="empty" id="fallback">
          
        </div>
      </iron-lazy-pages>
    </template>
  </template>

  <script>
    class PartitionForm extends PartitionMixin(Polymer.Element){
      static get is(){return "partition-form"}
      static get properties(){
        return Object.assign(
          {
            route: Object,
            routeData: Object,
            subroute: Object,
            page: {
              type:String
            },
            selectedPart: Object
          },
          super.properties
        )
      }

      static get observers(){
        return [
          '__pageChanged(routeData.page)'
        ]
      }

      constructor(){
        super()
      }

      __editPartition(evt){
        if (evt.target.classList.contains("editable")){
          this.__edit("parts_"+evt.target.dataset.index);
        }
      }

      __addPartition(){
        var id = this.__add("partition.parts",{height: this.get("partition.height")})-1;
        return this.__edit("parts_"+id);
      }

      __removePartition(evt){
        this.__remove("partition.parts",evt.target.dataset.index);
      }

      __pageChanged(routepage){
        if (routepage && (typeof routepage === "string")) {
          var t = routepage.match(/([a-z-]+)[0-9_]*/i)[1];
          var o = this.get("partition."+routepage.replace("_","."));
          if (o) {
            switch(t){
              case "parts":
                this.set("page", "partition");
                this.set("selectedPart",o);
                break;
              default:
            }
          }
        }
      }

      __partChanged(evt){
        var path = evt.detail.path.replace("partition",this.routeData.page.replace("_","."));
        this.notifyPath("partition."+path,evt.detail.value);
      }
    }
    customElements.define(PartitionForm.is,PartitionForm);
  </script>
</dom-module>
