<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../partition/partition-caption.html">
<link rel="import" href="../system/system-caption.html">
<link rel="import" href="floor-element.html">

<dom-module id="floor-caption">
  <template>
    <style>
      :host {
        display: list-item;
        list-style: disc inside;
      }
      :host(::first-letter) {
        text-transform: uppercase;
      }
    </style>
    [[description(floor.*)]]
    <ul>
      <template is="dom-if" if=[[floor.walls.length]] restamp="true">
        Огороджувальні конструкції поверху:
      </template>
      <template is="dom-repeat" items=[[floor.walls]] index-as="index">
        <partition-caption partition=[[item]]></partition-caption>
      </template>
    </ul>
    <ul>
      <template is="dom-if" if=[[floor.systems.length]] restamp="true">
        Системи поверху:
      </template>
      <template is="dom-repeat" items=[[floor.systems]] index-as="index">
        <system-caption system=[[item]]></system-caption>
      </template>
    </ul>
  </template>
  <script>
    class FloorCaption extends FloorMixin(Polymer.Element) {
      static get is(){return "floor-caption"}

      constructor(){
        super()
      }
    }
    customElements.define(FloorCaption.is,FloorCaption)
  </script>
</dom-module>
