<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../partition/partition-caption.html">
<link rel="import" href="../system/system-caption.html">
<link rel="import" href="floor-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">

<dom-module id="floor-form">
  <template>
    <style media="screen" include="shared-styles">
      :host {
        display: block;
      }
    </style>
    <app-route id="router"
      route="{{route}}"
      pattern="/:page"
      active="{{active}}"
      data="{{routeData}}"
      tail="{{subroute}}">
    </app-route>
    <span class="breadcrumb" on-click="historyBack">[[captionLine(floor.number)]]</span>
    <template is="dom-if" if="[[!active]]" restamp="true">
      <h4>[[description(floor.*)]]</h4>
      <paper-input label="Тип" value={{floor.function}}></paper-input>
      <paper-input label="Номер" value={{floor.number::change}}></paper-input>
      <paper-input label="Опис" value={{floor.description}}></paper-input>
      <ul class="boxed">Огороджувальні конструкції поверху:
        <template is="dom-repeat" items={{floor.walls}} index-as="index">
          <partition-caption
            partition={{item}}
            class="editable"
            data-index$=[[itemsIndex]]
            on-click="__editPartition">
            <paper-icon-button
              icon="my-icons:close" class="delete" slot="actions"
              data-index$=[[itemsIndex]]
              on-click="__removePartition">
            </paper-icon-button>
          </partition-caption>
        </template>
        <li>
          <paper-icon-button
            icon="my-icons:add" class="add"
            on-click="__addPartition">
          </paper-icon-button>
        </li>
      </ul>
      <ul class="boxed">Системи поверху:
        <template is="dom-repeat" items={{floor.systems}} index-as="index">
          <system-caption
            system={{item}}
            class="editable"
            data-index$=[[itemsIndex]]
            on-click="__editSystem">
            <paper-icon-button
              icon="my-icons:close" class="delete" slot="actions"
              data-index$=[[itemsIndex]]
              on-click="__removeSystem">
            </paper-icon-button>
          </system-caption>
        </template>
        <li>
          <paper-icon-button
            icon="my-icons:add" class="add"
            on-click="__addSystem">
          </paper-icon-button>
        </li>
      </ul>
    </template>
    <template is="dom-if" if="[[active]]" restamp="true">
      <iron-lazy-pages selected={{page}} attr-for-selected="id"
      fallback-selection="fallback">
        <partition-form id="partition"
          partition={{selectedWall}}
          route={{subroute}}
          data-path="../partition/partition-form.html"
          on-partition-changed="__wallChanged">
        </partition-form>
        <system-form id="system"
          system={{selectedSystem}}
          route={{subroute}}
          data-path="../system/system-form.html"
          on-system-changed="__systemChanged">
        </system-form>
        <div class="empty" id="fallback">
          
        </div>
      </iron-lazy-pages>

    </template>
  </template>
  <script>
    class FloorForm extends FloorMixin(Polymer.Element) {
      static get is(){return "floor-form"}
      static get properties(){
        return Object.assign(
          {
            route: Object,
            routeData: Object,
            subroute: Object,
            page: String,
            selectedWall: Object,
            selectedSystem: Object
          },
          super.properties
        )
      }

      static get observers(){
        return [
          '__pageChanged(routeData.page)'
        ]
      }

      constructor(){
        super()
      }

      __addPartition(){
        var id = this.__add("floor.walls",{})-1;
        this.__edit("walls_"+id);
      }

      __addSystem(){
        var id = this.__add("floor.systems",{})-1;
        this.__edit("systems_"+id);
      }

      __removePartition(evt){
        this.__remove("floor.walls",evt.target.dataset.index)
      }

      __removeSystem(evt){
        this.__remove("floor.systems",evt.target.dataset.index)
      }

      __editPartition(evt){
        if (evt.target.classList.contains("editable")){
          this.__edit("walls_"+evt.target.dataset.index);
        }
      }

      __editSystem(evt){
        if (evt.target.classList.contains("editable")){
          this.__edit("systems_"+evt.target.dataset.index);
        }
      }

      __pageChanged(page){
        if (page && (typeof page === "string")) {
          var t = page.match(/([a-z-]+)[0-9_]*/i)[1];
          var o = this.get("floor."+page.replace("_","."));
          if (o){
            switch(t){
              case "walls":
                this.set("page", "partition");
                this.set("selectedWall",o);
                break;
              case "systems":
                this.set("page","system");
                this.set("selectedSystem",o);
                break;
              default:
            }
          }
        }
      }

      __wallChanged(evt){
        var path = evt.detail.path.replace("partition",this.routeData.page.replace("_","."));
        this.notifyPath("floor."+path,evt.detail.value);
      }

      __systemChanged(evt){
        var path = evt.detail.path.replace("system",this.routeData.page.replace("_","."));
        this.notifyPath("floor."+path,evt.detail.value);
      }
    }
    customElements.define(FloorForm.is,FloorForm)
  </script>
</dom-module>
