<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="floor-element.html">

<dom-module id="floor-caption">
  <template>
    <style include="shared-styles">
      :host {
        display: list-item;
        list-style: disc inside;
      }
      :host(::first-letter) {
        text-transform: uppercase;
      }
    </style>
    <div class="list-item">
      <div class="item-content">
        [[captionLine(floor.*)]]
        <slot name="actions"></slot>
      </div>
    </div>
  </template>
  <script>
    class FloorCaption extends FloorMixin(Polymer.Element) {
      static get is(){return "floor-caption"}

      constructor(){
        super()
      }
    }
    customElements.define(FloorCaption.is,FloorCaption)
  </script>
</dom-module>
