<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="bd-element.html">

<dom-module id="bd-caption">
  <template>
    <style include="shared-styles">
      :host {
        display: list-item;
        list-style: disc inside;
      }
      :host(::first-letter) {
        text-transform: uppercase;
      }
    </style>
    <div class="list-item">
      <div class="item-content">
        <p>[[captionLine(bd.address)]]</p>
        <slot name="actions"></slot>
      </div>
    </div>

  </template>
  <script>
    class BdCaption extends BdMixin(Polymer.Element) {
      static get is() {return "bd-caption"}
      constructor(){
        super()
      }
    }
    customElements.define(BdCaption.is,BdCaption)
  </script>
</dom-module>
