<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../partition/partition-caption.html">
<link rel="import" href="../floor/floor-caption.html">
<link rel="import" href="../system/system-caption.html">
<link rel="import" href="bd-element.html">

<dom-module id="bd-description">
  <template>
    <style>
      :host {
        display: list-item;
        list-style: disc inside;
      }
      :host(::first-letter) {
        text-transform: uppercase;
      }
    </style>
    [[description(bd.*)]]
    <ul>
      <template is="dom-if" if=[[bd.walls.length]] restamp="true">
        Огороджувальні конструкції будівлі:
      </template>
      <template is="dom-repeat" items=[[bd.walls]] index-as="index">
        <partition-caption partition=[[item]]></partition-caption>
      </template>
    </ul>
    <ul>
      <template is="dom-if" if=[[bd.floors.length]] restamp="true">
        Поверхи будівлі:
      </template>
      <template is="dom-repeat" items=[[bd.floors]] index-as="index"
        sort="_sortByNumber" observe="number">
        <floor-caption floor=[[item]]></floor-caption>
      </template>
    </ul>
    <ul>
      <template is="dom-if" if=[[bd.systems.length]] restamp="true">
        Системи будівлі:
      </template>
      <template is="dom-repeat" items=[[bd.systems]] index-as="index">
        <system-caption system=[[item]]></system-caption>
      </template>
    </ul>
  </template>
  <script>
    class BdDescription extends BdMixin(Polymer.Element) {
      static get is() {return "bd-description"}
      constructor(){
        super()
      }
    }
    customElements.define(BdDescription.is,BdDescription)
  </script>
</dom-module>
