<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../partition/partition-caption.html">
<link rel="import" href="../floor/floor-caption.html">
<link rel="import" href="../system/system-caption.html">
<link rel="import" href="bd-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">
<dom-module id="bd-form">
  <template>
    <style media="screen" include="shared-styles">
      :host {
        display: block;
      }
    </style>
    <app-route id="router"
      route="{{route}}"
      pattern="/:page"
      active="{{active}}"
      data="{{routeData}}"
      tail="{{subroute}}">
    </app-route>
    <iron-ajax id="getBd" auto
      url=[[__selBdUrl(bdId)]]
      handle-as="json"
      last-response={{bd}}
      on-response="__bdInitialized">
    </iron-ajax>
    <iron-ajax
      id="saveBd"
      url="/api/v1/bd"
      method="post"
      handle-as="json"
      content-type="application/json"
      last-response={{bd}}
      last-error={{__saveStatus}}
      on-response="__clearModificationFlag"
      on-error="__reportSaveResult">
    </iron-ajax>

    <span class="breadcrumb" on-click="historyBack">
      [[captionLine(bd.address)]]
      <template is="dom-if" if=[[modified]] restamp="true">
        <paper-icon-button
          icon="my-icons:save"
          class="save"
          on-click="__save">
        </paper-icon-button>
      </template>
    </span>
    <template is="dom-if" if="[[!active]]" restamp>
      <h4>[[description(bd.*)]]</h4>
      <paper-input
        label="Адреса"
        value={{bd.address}}
        required>
      </paper-input>
      <ul class="boxed">Огороджувальні конструкції будівлі:
        <template is="dom-repeat" items={{bd.walls}} index-as="index">
          <partition-caption
            partition={{item}}
            data-index$=[[itemsIndex]]
            class="editable"
            on-click="__editPartition">
            <paper-icon-button
              icon="my-icons:close" class="delete" slot="actions"
              data-index$=[[itemsIndex]]
              on-click="__removePartition">
            </paper-icon-button>
          </partition-caption>
        </template>
        <li>
          <paper-icon-button
            icon="my-icons:add" class="add"
            on-click="__addPartition">
          </paper-icon-button>
        </li>
      </ul>
      <ul class="boxed">Поверхи будівлі:
        <template is="dom-repeat" items=[[bd.floors]] index-as="index"
          sort="_sortByNumber" observe="number">
          <floor-caption
            floor=[[item]]
            data-index$=[[itemsIndex]]
            class="editable"
            on-click="__editFloor">
            <paper-icon-button
              icon="my-icons:close" class="delete" slot="actions"
              data-index$=[[itemsIndex]]
              on-click="__removeFloor">
            </paper-icon-button>
          </floor-caption>
        </template>
        <li>
          <paper-icon-button
            icon="my-icons:add" class="add"
            on-click="__addFloor">
          </paper-icon-button>
        </li>
      </ul>
      <ul class="boxed">Системи будівлі:
        <template is="dom-repeat" items=[[bd.systems]] index-as="index">
          <system-caption
            system=[[item]]
            data-index$=[[itemsIndex]]
            class="editable"
            on-click="__editSystem">
            <paper-icon-button
              icon="my-icons:close" class="delete" slot="actions"
              data-index$=[[itemsIndex]]
              on-click="__removeSystem">
            </paper-icon-button>
          </system-caption>
        </template>
        <li>
          <paper-icon-button
            icon="my-icons:add" class="add"
            on-click="__addSystem">
          </paper-icon-button>
        </li>
      </ul>
    </template>
    <template is="dom-if" if="[[active]]" restamp="true">
      <iron-lazy-pages selected="[[page]]" attr-for-selected="data-route"
      fallback-selection="fallback">
        <partition-form
        data-route="partition"
        data-path="../partition/partition-form.html"
        partition={{selectedWall}}
        route={{subroute}}
        on-partition-changed="__wallChanged">
        </partition-form>
        <floor-form
        data-route="floor"
        data-path="../floor/floor-form.html"
        floor={{selectedFloor}}
        route={{subroute}}
        on-floor-changed="__floorChanged">
        </floor-form>
        <system-form
        data-route="system"
        data-path="../system/system-form.html"
        system={{selectedSystem}}
        route={{subroute}}
        on-system-changed="__systemChanged">
        </system-form>
        <div class="empty" id="fallback">

        </div>
      </iron-lazy-pages>

    </template>
  </template>
  <script>
    class BdForm extends BdMixin(Polymer.Element) {
      static get is() {return "bd-form"}

      static get properties(){
        return Object.assign(
          {
            modified: {
              type: Boolean,
              value: false,
              notify: true
            },
            bdId: String,
            route: Object,
            routeData: Object,
            subroute: Object,
            page: {
              type:String
            },
            selectedFloor: Object,
            selectedWall: Object,
            selectedSystem: Object,
            __saveStatus: Object
          },
          super.properties
        )
      }

      static get observers(){
        return [
          '__pageChanged(routeData.page)',
          '__syncURLwithId(bd._id)'
        ]
      }

      constructor(){
        super()
      }

      __syncURLwithId(id){
        if (id == "~"){
          this.set("modified",true);
        }
        else{
          window.history
            .replaceState(
              window.history.state,
              this.bd.address,
              window.location.href.replace("/~","/"+id)
            );
        }
      }

      __addPartition(){
        var id = this.__add("bd.walls",{})-1;
        return this.__edit("walls_"+id);
      }

      __addFloor(){
        var id = this.__add("bd.floors",{})-1;
        return this.__edit("floors_"+id);
      }

      __addSystem(){
        var id = this.__add("bd.systems",{})-1;
        return this.__edit("systems_"+id);
      }

      __editPartition(evt){
        if (evt.target.classList.contains("editable")){
          var path = "walls_"+evt.target.dataset.index;
          this.__edit(path);
        }
      }

      __editFloor(evt){
        if (evt.target.classList.contains("editable")){
          var path = "floors_"+evt.target.dataset.index;
          this.__edit(path);
        }
      }

      __editSystem(evt){
        if (evt.target.classList.contains("editable")){
          var path = "systems_"+evt.target.dataset.index;
          this.__edit(path);
        }
      }

      __removePartition(evt){
        this.__remove("bd.walls",evt.target.dataset.index)
      }

      __removeFloor(evt){
        this.__remove("bd.floors",evt.target.dataset.index)
      }

      __removeSystem(evt){
        this.__remove("bd.systems",evt.target.dataset.index)
      }

      __save(evt){
        evt.stopPropagation();
        var saver = this.$.saveBd;
        saver.body = {bd:this.bd};
        saver.generateRequest();
      }

      __bdInitialized(){
        var self=this;
        this.addEventListener("bd-changed",function(evt){
          if (evt.target == self) {
            self.set("modified", true);
          }
        });
        this.__clearModificationFlag();
      }

      __clearModificationFlag(evt){
        this.set("modified",false);
      }

      __reportSaveResult(){
        console.log(this.__saveStatus);
      }

      __pageChanged(page){
        if (page && (typeof page === "string")) {
          var t = page.match(/([a-z-]+)[0-9_]*/i)[1];
          var o = this.get("bd."+page.replace("_","."));
          if (o){
            switch(t){
              case "walls":
                this.set("page", "partition");
                this.set("selectedWall",o);
                break;
              case "floors":
                this.set("page", "floor")
                this.set("selectedFloor",o);
                break;
              case "systems":
                this.set("page","system");
                this.set("selectedSystem",o);
                break;
              default:
            }
          }
        }
      }

      __floorChanged(evt){
        var path = evt.detail.path.replace("floor",this.routeData.page.replace("_","."));
        this.notifyPath("bd."+path,evt.detail.value);
      }

      __wallChanged(evt){
        var path = evt.detail.path.replace("partition",this.routeData.page.replace("_","."));
        this.notifyPath("bd."+path,evt.detail.value);
      }

      __systemChanged(evt){
        var path = evt.detail.path.replace("system",this.routeData.page.replace("_","."));
        this.notifyPath("bd."+path,evt.detail.value);
      }

      __selBdUrl(selbd){
        var url = '/api/v1/bd/get/';
        if (selbd &&  (selbd != "~")) {
          return url+selbd;
        }
      }
    }
    customElements.define(BdForm.is,BdForm)
  </script>
</dom-module>
