<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../its-base-element.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../shared-styles.html">
<link rel="lazy-import" href="bd-form.html">


<dom-module id="bd-list">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      paper-item-body {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    </style>
    <iron-ajax id="listBds" auto
    url="/api/v1/bd/list"
    handle-as="json"
    last-response={{bds}}>
    </iron-ajax>
    <iron-ajax id="rmBd"
      method="delete"
      url="/api/v1/bd"
      handle-as="json"
      last-response={{__rmStat}}
      last-error={{__rmStat}}
      on-response="__rmFinished">
    </iron-ajax>
    <span class="breadcrumb" on-click="historyBack">
      Адмінбудинки
    </span>
    <template is="dom-if" if="[[!form]]" restamp>
      <ul role="navigation">
        <template is="dom-repeat" items={{bds}}>
          <paper-item
            data-id$=[[item._id]]
            class="nav-item editable"
            on-click="__editBd">
            <paper-item-body>
              <span class="caption">
                Адмінбудинок по [[item.address]]
                <template is="dom-if" if="[[__getmod(index)]]" restamp="true">
                  <iron-icon class="mark-icon warning"
                    icon="my-icons:warning"
                    alt="Незбережені зміни!">
                  </iron-icon>
                </template>
              </span>
            </paper-item-body>
            <paper-icon-button icon="my-icons:close"
              class="delete"
              data-index$=[[index]]
              on-click="__removeBd">
            </paper-icon-button>
          </paper-item>
        </template>
        <paper-item>
          <paper-icon-button
            icon="my-icons:add" class="add"
            on-click="__addBd">
          </paper-icon-button>
        </paper-item>
      </ul>

    </template>
    <template is="dom-if" if="[[bds.length]]">
      <app-route id="router"
        active="{{form}}"
        route="{{route}}"
        pattern="/:id"
        data="{{routeData}}"
        tail="{{subroute}}">
      </app-route>

      <template is="dom-if" if="[[form]]">
        <bd-form bd-id={{routeData.id}} bd={{bd}} route=[[subroute]] on-modified-changed="__modificationsChanged"></bd-form>
      </template>
    </template>
  </template>
  <script>
    function BdTemplate() {
      return {
        _id: "~",
        address: arguments[0] || "/адреса/",
        systems: [],
        floors: [],
        walls: []
      }
    }

    class BdList extends ITSBaseMixin(Polymer.Element) {
      static get is(){
        return 'bd-list'
      }

      static get properties() {
        return {
          bd: {
            type: Object,
            notify: true
          },
          selectedBd: {
            type: Number,
            observer: "__setBd"
          },
          bds: {
            type: Array,
            value: [],
            notify: true
          },
          modifications: {
            type: Array,
            value: []
          },
          route: Object,
          form: {
            type:Boolean,
            value: false
          },
          subroute: Object,
          routeData: Object,
          __rmStat: {
            type: Object,
            observer: "__rmFinished"
          }
        }
      }

      static get observers(){
        return [
          '__selectBd(routeData.id)',
          '__updateSelSubProps(bd.*)'
        ]
      }

      __selectBd(id){
        if (id && (id != "")) {
          for (var i=0;i<this.bds.length;i++){
            if (this.bds[i]._id == id) {
              this.set("selectedBd",i);
              break;
            }
          }
        }
        else {
          this.set("selectedBd",undefined);
        }
      }

      __setBd(bid){
        if (bid!=undefined){
          var self = this;
          Polymer.importHref(this.resolveUrl('bd-form.html'),function(){
            self.set("bd",self.get("bds."+bid));            
          },null,true);
        }
        else {
          this.set("bd",undefined);
        }
      }

      __updateSelSubProps(changes){
        if (this.selectedBd != undefined){
          var path = changes.path.replace("bd","bds."+this.selectedBd);
          this.set(path,changes.value);
        }
      }

      __modificationsChanged(evt){
        this.set("modifications."+this.selectedBd,evt.detail.value);
      }

      __getmod(ind){
        return this.modifications[ind];
      }

      __rmFinished(){
        console.log(this.__rmStat);
      }

      __editBd(evt){
        if (evt.currentTarget.classList.contains("editable")) {
          this.__edit(evt.currentTarget.dataset.id);
        }
      }

      __addBd(){
        var newbd = BdTemplate();
        this.push("bds", newbd);
        this.__edit(newbd._id);
      }

      __removeBd(evt){
        evt.stopPropagation();
        if (confirm("Справді видалити")) {
          var el = this.splice("bds",evt.target.dataset.index,1)[0];
        }
        if (el._id && (el._id != "~")){
          this.$.rmBd.url = '/api/v1/bd/'+el._id;
          this.$.rmBd.generateRequest();
        }
        this.set("bd", undefined);
      }
    }

    customElements.define(BdList.is,BdList);
  </script>
</dom-module>
