<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu-light.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../my-icons.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../its-base-element.html">

<dom-module id="bd-selector">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      paper-dropdown-menu-light {
        width: 80%
      }
    </style>

    <iron-ajax id="listBds" auto
        url="/api/v1/bd/list"
        handle-as="json"
        last-response={{bds}}>
    </iron-ajax>
    <iron-ajax id="getBd" auto
        handle-as="json"
        last-response={{bd}}>
    </iron-ajax>

    <template is="dom-if" if="[[bds.length]]" restamp="true">
      <paper-dropdown-menu-light label="Адмінбудинок">
        <iron-selector
          slot="dropdown-content"
          selected="{{selectedBd}}"
          attr-for-selected="bd">
          <template is="dom-repeat" items="[[bds]]" index-as="index">
            <paper-item bd="[[item._id]]">Адмінбудинок по [[item.address]]</paper-item>
          </template>
        </iron-selector>
      </paper-dropdown-menu-light>
    </template>

  </template>
  <script>

    class BdSelector extends ITSBaseMixin(Polymer.Element) {
      static get is(){
        return 'bd-selector'
      }

      static get properties() {
        return {
          bd: {
            type: Object,
            notify: true,
            observer: '__syncWithSelectedBd'
          },
          selectedBd: {
            type: String,
            observer: '__requestIfNew'
          },
          bds: {
            type: Array,
            value: []
          }
        }
      }

      constructor(){
        super();
      }

      __requestIfNew(selbd){
        if (selbd && (selbd != "~")){
          if (!this.bd || (this.bd._id != selbd)) {
            var url = '/api/v1/bd/get/';
            this.$.getBd.url = url+selbd;
          }
        }
      }

      __syncWithSelectedBd(bd){
        if (bd && bd._id){
          if (this.selectedBd != bd._id) {
            this.set("selectedBd",bd._id);
          }
        }
      }
    }

    customElements.define(BdSelector.is,BdSelector);
  </script>
</dom-module>
