<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../partition/partition-description.html">
<link rel="import" href="../system/system-description.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="room-element.html">
<dom-module id="room-description">
  <template>
    <style include="shared-styles">
      :host {
        display: list-item;
        list-style: disc inside;
      }
      :host(::first-letter){
        text-transform: uppercase;
      }
    </style>
    [[description(room.*)]]
    <ul>
      <template is="dom-if" if=[[walls.length]] restamp="true">
        Огороджувальні конструкції приміщення:
      </template>
      <template is="dom-repeat" items=[[walls]] index-as="index">
        <partition-description partition=[[item]]></partition-description>
      </template>
    </ul>
    <ul>
      <template is="dom-if" if=[[systems.length]] restamp="true">
        Системи приміщення:
      </template>
      <template is="dom-repeat" items=[[systems]] index-as="index">
        <system-description system=[[item]]></system-description>
      </template>
    </ul>
  </template>
  <script>
    class RoomDescription extends RoomMixin(Polymer.Element) {
      static get is(){return "room-description"}
      constructor() {
        super()
      }
    }
    customElements.define(RoomDescription.is,RoomDescription);
  </script>
</dom-module>
