<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="./room-element.html">
<dom-module id="room-caption">
  <template>
    <style media="screen" include="shared-styles">
      :host {
        display: list-item;
        list-style: disc inside;
      }
      p::first-letter {
        text-transform: uppercase;
      }
    </style>
    <div class="list-item">
      <div class="item-content">
        <p>
          [[captionLine(room.*)]]
        </p>
        <slot name="actions"></slot>
      </div>
    </div>
  </template>
  <script>
    class RoomCaption extends RoomMixin(Polymer.Element){
      static get is() {return "room-caption"}
      constructor() {
        super()
      }
    }

    customElements.define(RoomCaption.is,RoomCaption);
  </script>
</dom-module>
