<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu-light.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../partition/partition-caption.html">
<link rel="import" href="../system/system-caption.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="room-element.html">
<dom-module id="room-form">
  <template>
    <style media="screen" include="shared-styles">
      :host {
        display: block;
      }
      iron-selector paper-item {
        cursor: pointer
      }
    </style>
    <app-route id="router"
      route="{{route}}"
      pattern="/:page"
      active="{{active}}"
      data="{{routeData}}"
      tail="{{subroute}}">
    </app-route>
    <span class="breadcrumb" on-click="historyBack">[[captionLine(room.*)]]</span>
    <template is="dom-if" if="[[!active]]" restamp="true">
      <h4>[[description(room.*)]]</h4>
      <paper-input label="Тип" value={{room.function}}></paper-input>
      <paper-input label="Призначення" value={{room.description}}></paper-input>
      <paper-input label="Власник" value={{room.belongsTo}}></paper-input>
      <paper-input label="Площа" value={{room.area}}><span slot="suffix">&sup2;</span></paper-input>
      <paper-input label="Висота стелі" value={{room.height}}></paper-input>
      <paper-dropdown-menu-light label="Поверх" disabled=[[__anEmptyBox(bd.floors)]]>
        <iron-selector slot="dropdown-content"
          selected={{room.floornum}}
          attr-for-selected="fid">
          <template is="dom-repeat"
            items=[[bd.floors]]
            sort="_sortByNumber"
            observe="number">
            <paper-item fid=[[itemsIndex]]>
              [[item.number]] [[item.function]]
            </paper-item>
          </template>
        </iron-selector>
      </paper-dropdown-menu-light>
      <ul class="boxed">Огороджувальні конструкції
        <template is="dom-repeat" items={{room.walls}} index-as="index">
          <partition-caption
            class="editable"
            partition={{item}}
            on-click="__editPartition"
            data-index$=[[itemsIndex]]>
            <paper-icon-button
              icon="my-icons:close" class="delete" slot="actions"
              class="remove"
              data-index$=[[itemsIndex]]
              on-click="__removePartition">
            </paper-icon-button>
          </partition-caption>
        </template>
        <li>
          <paper-icon-button
            icon="my-icons:add" class="add"
            on-click="__addPartition">
          </paper-icon-button>
        </li>
      </ul>
      <ul class="boxed">
        Системи приміщення:
        <template is="dom-repeat" items={{room.systems}} index-as="index">
          <system-caption
            system={{item}}
            class="editable"
            on-click="__editSystem"
            data-index$=[[itemsIndex]]>
            <paper-icon-button
              icon="my-icons:close" class="delete" slot="actions"
              class="remove"
              data-index$=[[itemsIndex]]
              on-click="__removeSystem">
            </paper-icon-button>
          </system-caption>
        </template>
        <li>
          <paper-icon-button
            icon="my-icons:add" class="add"
            on-click="__addSystem">
          </paper-icon-button>
        </li>
      </ul>
    </template>
    <template is="dom-if" if="[[active]]" restamp="true">
      <iron-lazy-pages selected={{page}} attr-for-selected="id"
      fallback-selection="fallback">
        <partition-form id="partition"
          partition={{selectedWall}}
          route={{subroute}}
          data-path="../partition/partition-form.html"
          on-partition-changed="__wallChanged">
        </partition-form>
        <system-form id="system"
          system={{selectedSystem}}
          route={{subroute}}
          data-path="../system/system-form.html"
          on-system-changed="__systemChanged">
        </system-form>
        <div class="empty" id="fallback">
          
        </div>
      </iron-lazy-pages>

    </template>
  </template>
  <script>
    class RoomForm extends RoomMixin(Polymer.Element) {
      static get is(){
        return "room-form"
      }

      static get properties(){
        return Object.assign(
          {
            route: Object,
            routeData: Object,
            subroute: Object,
            page: {
              type:String
            },
            selectedWall: Object,
            selectedSystem: Object
          },
          super.properties
        )
      }

      static get observers(){
        return [
          '__pageChanged(routeData.page)'
        ]
      }

      constructor(){
        super();
      }

      __editPartition(evt){
        if (evt.target.classList.contains("editable")) {
          this.__edit("walls_"+evt.target.dataset.index);
        }
      }

      __addPartition(evt){
        var id = this.__add("room.walls",{height: this.get("room.height")})-1;
        return this.__edit("walls_"+id);
      }

      __removePartition(evt){
        this.__remove("room.walls",evt.target.dataset.index)
      }

      __editSystem(evt){
        if (evt.target.classList.contains("editable")) {
          this.__edit("systems_"+evt.target.dataset.index);
        }
      }

      __addSystem(evt){
        var id = this.__add("room.systems",{})-1;
        return this.__edit("systems_"+id);
      }

      __removeSystem(evt){
        this.__remove("room.systems",evt.target.dataset.index)
      }

      __pageChanged(page){
        if (page && (typeof page === "string")) {
          var t = page.match(/([a-z-]+)[0-9_]*/i)[1];
          var o = this.get("room."+page.replace("_","."));
          if (o) {
            switch(t){
              case "walls":
                this.set("page", "partition");
                this.set("selectedWall",o);
                break;
              case "systems":
                this.set("page","system");
                this.set("selectedSystem",o);
                break;
              default:
            }
          }
        }
      }

      __wallChanged(evt){
        var path = evt.detail.path.replace("partition",this.routeData.page.replace("_","."));
        this.notifyPath("room."+path,evt.detail.value);
      }

      __systemChanged(evt){
        var path = evt.detail.path.replace("system",this.routeData.page.replace("_","."));
        this.notifyPath("room."+path,evt.detail.value);
      }
    }
    customElements.define(RoomForm.is,RoomForm);
  </script>
</dom-module>
