<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="oid-element.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../room/room-caption.html">
<link rel="import" href="../room/room-description.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">
<link rel="lazy-import" href="oid-form.html">

<dom-module id="oid-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        --document-hidden-buttons: {
          display: none;
        }
      }
      p::first-letter{
        text-transform: uppercase;
      }
      ol, ul{
        counter-reset: section;
        list-style-type: none;
      }
      li {
        display: block;
      }
      ol li:before{
        counter-increment: section;
        content: counters(section,".") " ";
      }
      .inline {
        display: inline-block;
      }
    </style>
    <app-route id="router"
      route="{{route}}"
      pattern="/oid"
      active="{{form}}"
      tail="{{subroute}}">
    </app-route>
    <iron-ajax id="getOid"
        auto
        url=[[__getOidUrl(did)]]
        handle-as="json"
        last-response={{oid}}>
    </iron-ajax>
    <template is="dom-if" if="[[!form]]">
      <span class="breadcrumb" on-click="historyBack">
        [[oid.codename]] - Опис.
        <template is="dom-if" if=[[modified]] restamp="true">
          <paper-icon-button
            icon="my-icons:warning"
            class="warning"
            alt="Незбережені зміни!"
            on-click="__editOid">
          </paper-icon-button>
        </template>
      </span>
      <paper-icon-button style="float: right" icon="my-icons:edit" on-click="__editOid">
      </paper-icon-button>
      <ol>
        <li>
          Характеристика ОІД&nbsp;[[oid.codename]].
          <ol>
            <li>ОІД є [[oid.suiteName]] [[oid.belongsTo]].</li>
            <li>Дислокація ОІД (ситуаційний план) наведено на рис. 1.</li>
            <li>Місцезнаходження ТП вказано на ситуаційному плані (див. рис. 2).</li>
            <li>Схема ОІД (генеральний план) наведено на рис. 2.</li>
            <li>Приміщення ОІД межують із приміщеннями:
              <ul>
                <template is="dom-repeat" items=[[oid.neighbors]] index-as="index">
                  <room-caption room=[[item]]></room-caption>
                </template>
              </ul>
            </li>
          </ol>
        </li>
        <li>
          Архітектурно-будівельні особливості ОІД.
          <ol>
            ОІД знаходиться на [[__getFloor(oid.floornum,oid.bd.floors)]] поверсі
            адмінбудинку Верховної Ради України по [[oid.bd.address]], кабінет № [[oid.officenum]].
            До складу ОІД входять:
            <ul>
              <template is="dom-repeat" items=[[oid.rooms]] index-as="index">
                <room-description room=[[item]]
                  bd=[[oid.bd]]>
                </room-description>
              </template>
            </ul>
          </ol>
        </li>
      </ol>
    </template>

    <template is="dom-if" if="{{form}}">
      <oid-form id="oid" oid={{oid}} route={{subroute}} modified={{modified}}></oid-form>
    </template>

  </template>
  <script>
    window.customElements.define(OidView.is, OidView);
  </script>
</dom-module>
