<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../its-base-element.html">
<dom-module id="oid-caption">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      paper-item-body {
        color: #101010;
        -webkit-flex-grow: 1;
        flex-grow: 1;
      }
      paper-item-body [secondary] {
        color: #757575;
        font-size: 0.9em;
      }
    </style>
    <paper-icon-item class="nav-item editable">
      <div class$="mark-icon [[__stateMark(nextAudit,nextAttestation)]]" slot="item-icon"></div>
      <paper-item-body two-line>
        <div>
          [[oid.codename]]
          <template is="dom-if" if="[[modified]]" restamp="true">
            <iron-icon class="mark-icon warning"
              icon="my-icons:warning"
              alt="Незбережені зміни!">
            </iron-icon>
          </template>
        </div>
        <div secondary>
          <span class$="mark [[__stateMark(nextAudit)]]">[[nextAudit]]</span>
          <span class$="mark [[__stateMark(nextAttestation)]]">[[nextAttestation]]</span>
        </div>
      </paper-item-body>
      <slot name="actions"></slot>
    </paper-icon-item>
  </template>
  <script>
    class OidCaption extends ITSBaseMixin(Polymer.Element) {
      static get is(){return "oid-caption"}

      static get properties(){
        return {
          oid: Object,
          modified: Boolean,
          nextAudit: {
            type: String,
            computed: "__getNextAud(oid.attestation)"
          },
          nextAttestation: {
            type: String,
            computed: "__getNextAtt(oid.attestation)"
          },
        }
      }

      __getNextAud(a){
        if (a){
          var n = 20;
          if (["2016/05/25",a].sort()[0] == a){
            n = 24;
          }
          return this.DateWrapper(a).changeMonthBy(n);
        }
      }

      __getNextAtt(a){
        if (a) {
          var n = 5;
          if (["2016/05/25",a].sort()[0] == a){
            n = 2;
          }
          return this.DateWrapper(a).changeYearBy(n);
        }
      }

      __stateMark(){
        var now = new Date(), self=this;
        return ["late","pending","up-to-date"][
          Array.prototype.slice.call(arguments)
          .map(function(date){
            if (self.DateWrapper(date).isNoLaterThan(now)){
              return 0;
            }
            else if (self.DateWrapper(date).isNoLaterThan(new Date(now.getFullYear(),11,31))){
              return 1;
            }
            else {
              return 2;
            }
          })
          .sort()[0]
        ]

      }
    }
    customElements.define(OidCaption.is,OidCaption);
  </script>
</dom-module>
