<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="oid-element.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu-light.html">
<link rel="import" href="../../bower_components/app-datepicker/app-datepicker-dialog.html">
<link rel="import" href="../bd/bd-selector.html">
<link rel="import" href="../room/room-caption.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="oid-form">
  <template>
    <style media="screen" include="shared-styles">
      :host {
        display: block;
        position: relative;
      }
      iron-selector paper-item {
        cursor: pointer
      }
    </style>

    <app-route id="router"
      route="{{route}}"
      pattern="/:page"
      active="{{active}}"
      data="{{routeData}}"
      tail="{{subroute}}">
    </app-route>
    <iron-ajax id="saveOid"
      method="post"
      url="/api/v1/oid"
      handle-as="json"
      content-type="application/json"
      last-response={{oid}}
      on-response="__clearModificationFlag"
      last-error={{__saveStatus}}
      on-error="__reportSaveResult">
    </iron-ajax>
    <paper-icon-button icon="my-icons:subject"
      on-click="__toView"
      style="position: absolute">
    </paper-icon-button>
    <span class="breadcrumb" on-click="historyBack">
      [[oid.codename]] - Редагування.
      <template is="dom-if" if=[[modified]] restamp="true">
        <paper-icon-button
          icon="my-icons:save"
          class="save"
          on-click="saveOid">
        </paper-icon-button>
      </template>
    </span>
    <template is="dom-if" if="[[!active]]" restamp="true">
      <paper-input label="Кодова назва" value={{oid.codename}}>
      </paper-input>
      <paper-button raised active={{attestationSet}} toggles>Атестація: [[__formatDate(oid.attestation)]]</paper-button>
      <app-datepicker-dialog opened={{attestationSet}}
      theme="light-theme"
      first-day-of-week="1"
      max-date="[[__todayStr()]]"
      no-animation locale="uk-UA"
      confirm-label="Прийняти"
      dismiss-label="Скасувати" on-date-changed="__setAttestation"></app-datepicker-dialog>
      <bd-selector bd={{oid.bd}}></bd-selector>
      <template is="dom-if" if="[[!__anEmptyBox(oid.bd.floors)]]" restamp="true">
        <paper-dropdown-menu-light label="Поверх">
          <iron-selector
            slot="dropdown-content"
            selected={{oid.floornum}}
            attr-for-selected="fid">
            <template is="dom-repeat"
              items=[[oid.bd.floors]]
              sort="_sortByNumber"
              observe="number">
              <paper-item fid=[[itemsIndex]]>[[item.number]] [[item.function]]</paper-item>
            </template>
          </iron-selector>
        </paper-dropdown-menu-light>
      </template>
      <paper-input label="Номер приміщення" value={{oid.officenum}}>
      </paper-input>
      <paper-input label="Назва приміщення" value={{oid.suiteName}}>
      </paper-input>
      <paper-input label="Власник приміщення" value={{oid.belongsTo}}>
      </paper-input>
      <ul class="boxed">Особи, що мають доступ до ОІД
        <template is="dom-repeat" items={{oid.haveAccess}}>
          <li>
            <paper-input style="display: inline-block; width: 90%"
              label="Допущена особа"
              value={{item}}
              data-index$=[[index]]
              on-blur="__removeEmptyAccessor">
              <paper-icon-button
                icon="my-icons:close" class="delete"
                slot="suffix"
                class="delete"
                data-index$=[[index]]
                on-click="__removeAccessor">
              </paper-icon-button>
            </paper-input>
          </li>
        </template>
        <li>
          <paper-icon-button icon="my-icons:add" class="add" on-click="__addAccessor">
          </paper-icon-button>
        </li>
      </ul>
      <ul class="boxed" role="navigation">Приміщення, що входять до складу ОІД
        <template is="dom-repeat" items={{oid.rooms}} index-as="index">
          <room-caption
            class="editable"
            room={{item}}
            data-index$=[[itemsIndex]]
            on-click="__editRoom">
            <paper-icon-button
              icon="my-icons:close"
              slot="actions"
              class="delete"
              data-index$=[[itemsIndex]]
              on-click="__removeRoom">
            </paper-icon-button>
          </room-caption>
        </template>
        <li>
          <paper-icon-button
            icon="my-icons:add"
            class="add"
            on-click="__addRoom">
          </paper-icon-button>
        </li>
      </ul>
      <ul class="boxed" role="navigation">Приміщення, що межують із ОІД
        <template is="dom-repeat" items={{oid.neighbors}} index-as="index">
          <room-caption
            room={{item}}
            data-index$=[[itemsIndex]]
            class="editable"
            on-click="__editNeighbor">
            <paper-icon-button
              icon="my-icons:close"
              class="delete"
              slot="actions"
              data-index$=[[itemsIndex]]
              on-click="__removeNeighbor">
            </paper-icon-button>
          </room-caption>
        </template>
        <li>
          <paper-icon-button
            icon="my-icons:add"
            class="add"
            on-click="__addNeighbor">
          </paper-icon-button>
        </li>
      </ul>
    </template>
    <template is="dom-if" if="[[active]]" restamp="true">
      <iron-lazy-pages selected="[[page]]" attr-for-selected="data-route"
      fallback-selection="fallback">
        <room-form data-path="../room/room-form.html" data-route="room"
          bd=[[oid.bd]]
          room={{selectedRoom}}
          route={{subroute}}
          on-room-changed="__roomChanged">
        </room-form>
        <div class="empty" data-route="fallback">

        </div>
      </iron-lazy-pages>
    </template>
  </template>
  <script>
    class OidForm extends OidView {
      static get is(){return "oid-form"}

      static get properties() {
        return Object.assign(
          {
            modified: {
              type: Boolean,
              notify: true
            },
            page: {
              type: String
            },
            selectedRoom: Object,
            routeData: Object
          },
          super.properties
        );
      }

      static get observers(){
        return [
          '__pageChanged(routeData.page,oid)',
          '__syncURLwithId(oid._id)'
        ]
      }

      constructor(){
        super();
      }

      ready(){
        super.ready();
        var self=this;
        this.addEventListener("oid-changed",function(evt){
          if (evt.target == self) {
            self.set("modified", true);
          }
        })
      }

      __syncURLwithId(id){
        if (id == "~"){
          this.set("modified",true);
        }
        else{
          window.history
            .replaceState(
              window.history.state,
              this.oid.codename,
              window.location.href.replace("/~","/"+id)
            );
        }
      }

      __editRoom(evt){
        if (evt.target.classList.contains("editable")){
          this.__edit("rooms_"+evt.target.dataset.index);
        }
      }

      __editNeighbor(evt){
        if (evt.target.classList.contains("editable")){
          this.__edit("neighbors_"+evt.target.dataset.index);
        }
      }

      __addRoom(){
        var id = this.__add("oid.rooms",{
          belongsTo:this.get("oid.belongsTo"),
          floornum: this.get("oid.floornum"),
          walls: []})-1;
          return this.__edit("rooms_"+id);
      }

      __addNeighbor(){
        var id = this.__add("oid.neighbors",{})-1;
        return this.__edit("neighbors_"+id);
      }

      __removeRoom(evt){
        this.__remove("oid.rooms",evt.target.dataset.index);
      }

      __removeNeighbor(evt){
        this.__remove("oid.neighbors",evt.target.dataset.index);
      }

      __addAccessor(evt){
        this.push('oid.haveAccess','');
      }

      __removeAccessor(evt){
        this.splice('oid.haveAccess',evt.target.dataset.index,1);
      }

      __removeEmptyAccessor(evt){
        if (!evt.target.value || (evt.target.value == "")){
          this.__removeAccessor(evt);
        }
      }

      __pageChanged(page,oid){
        if (page && (typeof page === "string")) {
          var t = page.match(/([a-z-]+)[0-9_]*/i)[1];
          var o = this.get("oid."+page.replace("_","."));
          if (o) {
            switch(t){
              case "bd":
                this.set("page", "bd");
                break;
              case "rooms":
              case "neighbors":
                this.set("page","room");
                this.set("selectedRoom",o);
                break;
              default:
            }
          }
        }
      }

      __loadPage(p){
        if (p) {
          Polymer.importHref(
            this.resolveUrl(`../${p}/${p}-form.html`),
            null,null,true
          )

        }
      }

      _sortByNumber(a,b){
        var _a = parseInt(a.number)
        , _b = parseInt(b.number);
        if (_a && _b) {
          return _a - _b;
        }
        else {
          return a.number.localeCompare(b.number);
        }
      }

      __roomChanged(evt){
        var path = evt.detail.path.replace("room",this.routeData.page.replace("_","."));
        this.notifyPath("oid."+path,evt.detail.value);
      }

      __setAttestation(evt){
        if (evt.target.closingReason.confirmed){
          this.set("oid.attestation",evt.target.date);
        }
      }

      saveOid(evt){
        evt.stopPropagation();
        if (this.oid){
          this.$.saveOid.body={
            oid: this.oid
          };
          this.$.saveOid.generateRequest();
        }
      }

      __clearModificationFlag(evt){
        this.set("modified",false);
      }

      __reportSaveResult(){
        console.log(this.saveStatus);
      }

      __toView(){
        this.__edit("/oids/"+this.oid._id)
      }

    }

    customElements.define(OidForm.is,OidForm);
  </script>
</dom-module>
