<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../its-base-element.html">
<link rel="import" href="oid-caption.html">
<link rel="lazy-import" href="oid-view.html">
<dom-module id="oid-list">
  <template>
    <style include="shared-styles">
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;
        padding: 1em;
      }
    </style>
    <iron-ajax id="listOids" auto
      url="/api/v1/oid/list"
      handle-as="json"
      last-response={{oids}}>
    </iron-ajax>
    <iron-ajax id="rmOid"
    method="delete"
    url="/api/v1/oid"
    handle-as="json"
    last-response={{__rmStat}}
    last-error={{__rmStat}}
    on-response="__rmFinished">
    </iron-ajax>

    <span class="breadcrumb" on-click="historyBack">
      Об'єкти інформаційної діяльності
    </span>

    <template is="dom-if" if="[[!view]]" restamp>
      <ul role="navigation">
        <template is="dom-repeat" items={{oids}} id="oidslist">
          <oid-caption
          on-click="__editOid"
          data-id$=[[item._id]]
          oid=[[item]]
          modified=[[__getmod(index)]]>
            <paper-icon-button
            slot="actions"
            icon="my-icons:close"
            class="delete"
            data-index$=[[index]]
            on-click="__removeOid">
            </paper-icon-button>
          </oid-caption>
        </template>
        <paper-item>
          <paper-icon-button
          icon="my-icons:add" class="add"
          on-click="__addOid">
          </paper-icon-button>
        </paper-item>
      </ul>
    </template>
    <template is="dom-if" if="[[oids.length]]">
      <app-route id="router"
        active="{{view}}"
        route="{{route}}"
        pattern="/:id"
        data="{{routeData}}"
        tail="{{subroute}}">
      </app-route>
      <template is="dom-if" if="[[view]]">
        <oid-view did="{{routeData.id}}" oid="{{oid}}" route="[[subroute]]" on-modified-changed="__modificationsChanged"></oid-view>
      </template>
    </template>
  </template>
  <script>

    class OidList extends ITSBaseMixin(Polymer.Element) {
      static get is(){
        return 'oid-list'
      }

      static get properties() {
        return {
          selected: {
            type: Number,
            observer: "__setOid"
          },
          oid: {
            type: Object,
            notify: true
          },
          oids: {
            type: Array,
            value: [],
            notify: true
          },
          modifications: {
            type: Array,
            value: []
          },
          __rmStat: {
            type: Object,
            observer: "__rmFinished"
          },
          route: Object,
          routeData: Object,
          subroute: Object,
          view: {
            type: Boolean,
            value: false
          }
        }
      }

      static get observers(){
        return [
          '__updateSelSubProps(oid.*)',
          '__selectOid(routeData.id)'
        ]
      }

      __rmFinished(){
        console.log(this.__rmStat);
      }

      __selectOid(id){
        if (id && (id!="")) {
          var i=0,self=this;
          for (;i<this.oids.length;i++){
            if (this.oids[i]._id == id) {
              self.set("selected",i);
              break;
            }
          }
        }
        else {
          this.set("selected",undefined);
        }
      }

      __setOid(sid){
        if (sid != undefined){
          var self = this;
          Polymer.importHref(this.resolveUrl('oid-view.html'),function(){
            self.set("oid",self.get("oids."+sid));
          },null,true);
        }
        else {
          this.set("oid",undefined);
        }
      }

      __updateSelSubProps(changes){
        if (this.selected != undefined){
          var path = changes.path.replace("oid","oids."+this.selected);
          this.set(path,changes.value);
        }
      }

      __modificationsChanged(evt){
        this.set("modifications."+this.selected,evt.detail.value);
      }

      __getmod(ind){
        return this.modifications[ind];
      }

      __editOid(evt){
        this.__edit(evt.currentTarget.dataset.id);
      }

      __addOid(){
        if (this.oids.length && (this.oids[this.oids.length-1]._id == "~")){
          return this.alert("Нове приміщення вже створене і не збережене!");
        }
        var newcn = 'ВП';
        newcn += (this.oids.map(
          function(oid){
            return parseInt(
              oid.codename.match(/[0-9]+/)[0]
            )
          }
        )
        .reduce(
          function(max,oid){
            return Math.max(max,oid)
          },
          0
        )+1);
        var newoid = {codename:newcn,_id:"~"};
        this.push("oids",newoid);
        this.__edit(newoid._id+"/oid");
      }

      __removeOid(evt){
        evt.stopPropagation();
        if (confirm("Справді видалити")) {
          var el = this.splice("oids",evt.target.dataset.index,1)[0];
        }
        if (el._id && (el._id != "~")){
          this.$.rmOid.url = '/api/v1/oid/'+el._id;
          this.$.rmOid.generateRequest();
        }
        this.set("selected",undefined);
      }
    }

    customElements.define(OidList.is,OidList);
  </script>
</dom-module>
