<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../access-point/access-point-caption.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="./line-run-element.html">
<dom-module id="line-run-form">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>
    <app-route id="router"
      route="{{route}}"
      pattern="/:page"
      active="{{active}}"
      data="{{routeData}}"
      tail="{{subroute}}">
    </app-route>
    <span class="breadcrumb" on-click="historyBack">Ділянка лінії</span>
    <template is="dom-if" if="[[!active]]" restamp="true">
      <h4>[[description(lineRun.*)]]</h4>
      <paper-input label="Тип лінії" value={{lineRun.lineType}}>
        <span slot="prefix">прокладена&nbsp;</span>
      </paper-input>
      <ul class="boxed">(перелік місць доступу - комутаційні шафи, технологічні отвори, приміщення, люки тощо)
        <template is="dom-repeat" items={{lineRun.points}} sort="__pointSort" observe="source sink">
          <access-point-caption
            withhow
            access-point={{item}}
            data-index$=[[itemsIndex]]
            on-click="__editPoint"
            class="editable">
            <paper-icon-button
              icon="my-icons:close" class="delete" slot="actions"
              data-index$=[[itemsIndex]]
              on-click="__removePoint">
            </paper-icon-button>
          </access-point-caption>
        </template>
        <li>
          <paper-icon-button
            icon="my-icons:add" class="add"
            on-click="__addPoint">
          </paper-icon-button>
        </li>
      </ul>
      <paper-input label="Деталі пролягання" value={{lineRun.description}}></paper-input>
      <paper-input label="Документальні посилання" value={{lineRun.refCode}}></paper-input>
    </template>
    <template is="dom-if" if="[[active]]" restamp="true">
      <iron-lazy-pages
        selected={{page}}
        attr-for-selected="id"
        fallback-selection="fallback">
        <access-point-form id="access-point"
          access-point={{selectedPoint}}
          route={{subroute}}
          data-path="../access-point/access-point-form.html"
          on-access-point-changed="__pointChanged">
        </access-point-form>
        <div id="fallback" class="empty">
          
        </div>
      </iron-lazy-pages>
    </template>
  </template>
  <script>
    class LineRunForm extends LineRunMixin(Polymer.Element) {
      static get is(){return "line-run-form"}

      static get properties(){
        return Object.assign(
          {
            route: Object,
            routeData: Object,
            subroute: Object,
            page: {
              type:String
            },
            selectedPoint: Object
          },
          super.properties
        )
      }

      static get observers(){
        return [
          '__pageChanged(routeData.page)'
        ]
      }

      constructor(){
        super()
      }

      __editPoint(evt){
        if (evt.target.classList.contains("editable")){
          this.__edit("points_"+evt.target.dataset.index);
        }
      }

      __addPoint(evt){
        var index = this.__add("lineRun.points",{})-1;
        return this.__edit("points_"+index);
      }

      __removePoint(evt){
        this.__remove("lineRun.points",evt.target.dataset.index);
      }

      __pointSort(a,b){
        if (a.source) {
          if (!b.source) return -1;
        }
        else if (!a.sink) {
          if (b.source) return 1;
          if (b.sink) return -1;
        }
        else {
          if (!b.sink) return 1;
        }
        return 0;
      }

      __pageChanged(routepage){
        if (routepage && (typeof routepage === "string")) {
          var t = routepage.match(/([a-z-]+)[0-9_]*/i)[1];
          var o = this.get("lineRun."+routepage.replace("_","."));
          if (o){
            switch(t){
              case "points":
                this.set("page", "access-point");
                this.set("selectedPoint",o);
                break;
              default:
            }
          }
        }
      }

      __pointChanged(evt){
        var path = evt.detail.path.replace("accessPoint",this.routeData.page.replace("_","."));
        this.notifyPath("lineRun."+path,evt.detail.value);
      }
    }
    customElements.define(LineRunForm.is,LineRunForm);
  </script>
</dom-module>
