<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./line-run-element.html">
<link rel="import" href="../access-point/access-point-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="line-run-description">
  <template>
    <style include="shared-styles">
      :host {
        display: list-item;
        list-style: disc inside;
      }
      :host(::first-letter) {
        text-transform: uppercase;
      }
    </style>
    [[fullDescr(lineRun.*,lineRun.points.*)]]
    <slot name="actions"></slot>
  </template>
  <script>
    var AccessPoint = AccessPointMixin();
    class LineRunDescription extends LineRunMixin(Polymer.Element) {
      static get is(){return "line-run-description"}

      constructor(){
        super()
      }

      fullDescr(){
        return this.describe([
          "прокладені",
          ["lineRun.lineType"],
          (this.lineRun.points||[])
            .map(function(ap){
              var p = new AccessPoint();
              p.accessPoint = ap;
              return `${p.how()} ${p.captionLine()}`
            })
            .join(", "),
          this.details(),
          this.refCode()
        ])
      }
    }
    customElements.define(LineRunDescription.is,LineRunDescription);
  </script>
</dom-module>
