<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="shared-styles.html">
<link rel="lazy-import" href="oid/oid-list.html">
<link rel="lazy-import" href="bd/bd-list.html">
<link rel="import" href="its-base-element.html">

<dom-module id="my-app">
  <template>
    <style media="screen" include="shared-styles">
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: #0449bd;
        --app-positive-color: #61d22c;
        --app-negative-color: rgb(228, 89, 64);
        --secondary-text-color: var(--app-secondary-color);
        display: block;
        --paper-icon-button: {
          border-radius: 50%;
          background-color: var(--app-primary-color);
          color: white;
          --paper-icon-button-ink-color: white;
        };
        --paper-icon-button-hover: {
          filter: brightness(90%);
        }
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      .drawer-list paper-item {
        cursor: pointer;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        active="{{active}}"
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}"> <!-- force-narrow -->
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]" on-click="__closeDrawer">
        <app-toolbar>Розділи</app-toolbar>
        <iron-selector selected=[[page]] attr-for-selected="id" class="drawer-list" role="navigation">
          <paper-item class="nav-item" id="oids" on-click="__navigate">ОІДи</paper-item>
          <paper-item class="nav-item" id="bds" on-click="__navigate">Адмінбудники</paper-item>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle>
            </paper-icon-button>
            <div main-title>Виділені приміщення</div>
          </app-toolbar>
        </app-header>
        <template is="dom-if" if="[[active]]" restamp="true">
          <iron-lazy-pages attr-for-selected="data-route" selected=[[page]] fallback-selection="fallback"
          hide-immediately>
            <template is="dom-if" data-route="oids" data-path="oid/oid-list.html" restamp="true">
              <oid-list class="card" route="[[subroute]]"></oid-list>
            </template>
            <template is="dom-if" data-route="bds" data-path="bd/bd-list.html" restamp="true">
              <bd-list class="card" route="[[subroute]]"></bd-list>
            </template>
            <section class="empty" data-route="fallback">
              Оберіть розділ.
            </section>
          </iron-lazy-pages>
        </template>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    class MyApp extends ITSBaseMixin(Polymer.Element) {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String
          },
          route: Object,
          routeData: Object,
          subroute: String
        };
      }

      static get observers(){
        return [
          '__routePageChanged(routeData.page)'
        ]
      }

      __navigate(evt){
        this.__edit("/"+evt.target.id);
      }

      __routePageChanged(page){
        this.page = page || 'fallback';
        this.__closeDrawer();
      }

      __closeDrawer(){
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
