<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      paper-button, paper-icon-button {
        transition: opacity ease-in 0.3s 0.5s;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      .hideable:not([visible]) {
        display: none
      }

      ul {
        margin: 0.3em 0;
      }

      ul li {
        list-style-position: inside;
      }

      li paper-input {
        display: inline-block;
        width: 90%;
      }

      .nav-item {
        transition: box-shadow linear 0.2s, background-color linear 0.2s, color linear 0.2s;
        justify-content: space-between;
        cursor: pointer;
      }

      .nav-item:hover {
        transition: box-shadow linear 0.2s;
        box-shadow: 0px 1px 2px rgba(40,40,40,0.5);
      }

      .drawer-list .nav-item:hover {
        transition: background-color linear 0.2s, color linear 0.2s;
        background-color: var(--app-primary-color);
        color: white;
      }

      .boxed {
        border: solid #ddd 1px;
        border-radius: 0.5em;
        padding: 1em;
      }

      .editable {
        padding-left: 0.5em;
        border-radius: 0.5em initial initial 0.5em;
        border-left: solid 0.2em;
        border-left-color: transparent;
        cursor: pointer;
        transition: border-left-color linear 0.2s;
      }

      .editable:hover {
        transition: border-left-color linear 0.2s;
        border-left-color: var(--app-primary-color);
        color: black;
      }

      .destroy, .delete, .error {
        background-color: var(--app-negative-color);
      }

      .add, .save, .success, .ok {
        background-color: var(--app-positive-color);
      }

      .warn, .warning {
        background-color: rgb(255,170,0);
      }

      .destroy, .delete, .error, .add, .save, .success, .ok, .warn, .warning {
        color: white;
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
      }

      .error:hover:after,
      .success:hover:after,
      .warn:hover:after, .warning:hover:after, .info:hover:after {
        content: attr(alt);
        display: block;
        position: absolute;
        font-size: 70%;
        padding: 0.5em;
        color: white;
        background-color: inherit;
        white-space: nowrap;
        left: 110%;
      }

      .list-item {
        display: inline-block;
        width: 90%;
      }

      .item-content {
        display: flex;
        margin: 0px;
        padding: 0px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
      }

      .item-content > * {
        flex: 1 1;
        margin: 0px;
        padding: 0px;
      }

      .breadcrumb {
        display: inline;
        cursor: pointer;
        padding: 0 0.5em;
        margin: 0.3em 1em 0.3em 3em;
      }

      .breadcrumb:before {
        content: "";
        display: inline-block;
        width: 0px;
        height: 0px;
        border: solid 0.4em transparent;
        border-left-color: var(--app-primary-color);
        position: relative;
        vertical-align: middle;
      }

      .breadcrumb paper-icon-button, .mark-icon, .small-icon  {
        width: 1.2em;
        height: 1.2em;
        padding: 0.2em;
        line-height: 0.8em;
        vertical-align: middle;
        border-radius: 50%;
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
      }

      span.caption {
        flex: 2 0 2em;
        font-weight: bold;
      }

      span.mark {
        text-align: center;
        padding: 0px 1em 0px;
        flex: 1 0 5em;
        border-radius: 0.2em;
      }

      .pending {
        background-color: rgba(255, 170, 0, 0.5);
      }

      .late {
        background-color: rgba(255, 0, 0, 0.5)
      }

      .up-to-date {
        background-color: rgba(0, 255, 0, 0.5)
      }

      .empty {
        margin: 0;
        padding: 1em;
        background-color: transparent;
        color: #808080;
        border: none;
      }
    </style>
  </template>
</dom-module>
